[Unit]
Description=daemontools Start supervise
After=sysinit.target

[Service]
Type=simple
User=root
Group=root
Restart=always
ExecStart=/usr/local/bin/svscanboot /dev/ttyS0
TimeoutSec=0

[Install]
WantedBy=multi-user.target
