export GO111MODULE=on
# export GOPRIVATE=git.xwfintech.com/\*
export GOPRIVATE=gitlab.intra.knownsec.com/\*
# export GOFLAGS=-mod=vendor
export GOPROXY=https://mirrors.aliyun.com/goproxy/,direct
# 内网关闭GOSUMDB
export GOSUMDB=off
